
.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
}

.post-wrapper, .post-details-wrapper{
    padding: 30px;
    margin: 0 15px 15px 15px;
    width: 280px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.posts-title{

    text-align: center;
    color: white;
}
.default-button{

    padding: 6px 16px;
    background-color: transparent;
    border: 1px solid var(--accent);    
    border-radius: 4px;
}

.default-button:hover{
    background-color: var(--accent);
    color:white;
}

.posts-wrapper, .post-details-wrapper{
    background-color: var(--primary);
    padding: 30px 80px;
    flex-grow: 1;
    min-width: 60vw;

}
.post-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.posts, .details{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.post-id,
.post-title,
.post-author{
    margin-bottom: 12px;;
}

.post-id{
    font-weight: bold;
}

.post-details{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 40px;
    width: 320px;
    border-radius: 4px;
}

.posts-title{
    color: white;
    flex: 1 1 50%
}

.footer{

    padding: 24px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}   

.back-button{
    border: none;
    color: var(--accent);
    float: right;
}
.back-button{
    border: none;
    color: var(--accent);
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 12px;
}
.back-button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent);

}
.delete-button{
    border: none;
    color: var(--accent); 
    float: right;  
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;

}
.edit-button{
    border: none;
    float: right;
    color: var(--accent);
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
}
.edit-button:hover{
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: white;
}
.delete-button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}
.post-details-title{
    margin-bottom: 16px;
}

.post-details-author{
    margin-bottom: 16px;
}
.post-details-headline{
    margin-bottom: 32px;
    color: white;

}

.post-view-button-wrapper{
    float: right;
    border: none;
}
.post-details-view-button{
    border: none;
    cursor: pointer;
    color: rgb(5, 111, 152);
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    border: 1px solid rgb(5, 111, 152);
}
.post-details-view-button:hover{
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    border: 1px solid  var(--primary);
}

.wrapper-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-create-button{
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    border: 1px solid  white;
}


.post-create-button:hover{
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: white;
    cursor: pointer;
}